@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="Tit" class="display-4">Welcome to MONSTER WEB SELLER</h1>
    <p id="Par" >Learn about <a target="_blank" href="https://www.monsterenergy.com/es-ec/">Quienes somos ? </a>.</p>
    <br/>
    <img src="https://i.ytimg.com/vi/46W8jr98mw4/maxresdefault.jpg" />
    
</div>
